$color-dorado: #daa520;
$color-blanco: rgba(255, 255, 255, 0.4);
$color-azul: rgba(0, 0, 255, 0.3);
$color-amarillo: rgba(255, 255, 0, 0.4);
$color-rojo: rgba(255, 0, 0, 0.4);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

ul, ol{
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Tilt Prism', cursive;
}

p{
    font-family: 'Signika Negative', sans-serif;
}

img{
    max-width: 100%;
}

body{
    background: url(../img/cielo-estrellado.jpg!d);
    background-repeat: no-repeat;
    background-size: cover;

}


