.main-cristiana{
    .main-cristiana__def {
        background-color: hsla(123, 86%, 20%, 0.874) ;
        padding: 15px;
        margin: 40px 20px;
        border: 2px solid $color-dorado;
        border-radius: 15px;
        text-align: center;
        .main-cristiana__title {
            text-align: center;
            color: $color-dorado;
            font-size: 1.8em;
            text-decoration: overline ;
        }

        .main-cristiana__text {
            color: white;
            margin-bottom: 20px;
            margin: auto;
        }

        .main-cristiana__img{
            width: 80%;
            display: flex;
            margin: auto;
        }
    }

    .historias-cristiana{
        .historias__container{
            .historias__item{
                .historias__img{
                    width: 250px;
                }
            }
        }
    }


}

@media screen and (min-width: 768px){
    

    .main-cristiana{
        .main-cristiana__def{
            padding: 30px;
            background-color: yellow;
            .main-cristiana__title{
                color: black;
                font-size: 2.6em;
                font-weight: bold;
            }
    
            .main-cristiana__text{
                font-size: 1.2em;
                color: black;
            }
        
            .main-cristiana__img{
                margin-top: 50px;
            }
        }

        .dioses-cristiana{
            .dioses__h2{
                font-weight: bold;
                font-size: 2.6em;
            }

            .dioses__container{
                .dioses__item{
                    background: yellow;
                    .dioses__title{
                        color: black;
                        font-weight: bold;
                        font-size: 2.4em;
                    }
                    .dioses__text{
                        color: black;
                    }
                }
            }
        }

        .historias__container{


            .historias__item{
                background-color: yellow;
                .historias__title{
                    font-weight: bold;
                    font-size: 1.8em;
                    color: black;
                }
                .historias__text{
                    color: black;
                }
            }
        }
    }
    

}

@media screen and (min-width: 1024px){
    .main-cristiana{

        .historias__h2{
            font-size: 3.5em;
        }

        .historias-cristiana{
            .historias__container{
                display: flex;
                flex-direction: column;
                .historias__item{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    padding: 30px;
                    .historias__title{
                        font-size: 2.8em;
                        line-height: 50px;
                    }

                    .historias__text{
                        display: flex;
                        flex-direction: row;
                    }

                }
            }
        }


    }
}


