.main-egipcia{
    &__def {
        background-color: hsla(123, 86%, 20%, 0.874) ;
        padding: 15px;
        margin: 40px 20px;
        border: 2px solid $color-dorado;
        border-radius: 15px;
        text-align: center;
        .main-egipcia__title {
            text-align: center;
            color: $color-dorado;
            font-size: 1.8em;
            text-decoration: overline ;
        }

        .main-egipcia__text {
            color: white;
            margin-bottom: 20px;
            margin: auto;
        }

        .main-egipcia__img{
            width: 80%;
            display: flex;
            margin: auto;
        }
    }
    
        .dioses {
        &__h2{
            text-align: center;
            font-size: 1.7em;
            margin: 15px;
            color: $color-dorado;
            background-color: black;
            padding: 10px;
            border: 2px solid $color-dorado;
        }
    
        &__container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 15px;
            width: 95%;
            margin: auto;
            position: relative;
            .dioses__item{
                margin-top: 25px;
                padding: 15px;
                border: 2px solid black;
                border-radius: 15px;
                background: #666;
                .dioses__title{
                    font-size: 2.5em;
                    color: $color-dorado;
                    margin-left: 30px;
                    margin-bottom: 40px;
                }
    
                .dioses__img{
                    margin-bottom: 15px;
                }
    
                .dioses__text{
                    color: white;
                    margin-bottom: 10px;
                }
            }
        }

        @media screen and (min-width: 768px){
            .dioses__h2{
                font-size: 2.3em;
            }

            .dioses__item{
                padding: 15px;

                .dioses__title{
                    font-size: 2.5em;
                    font-weight: bold;
                }

                .dioses__text{
                    font-size: 1.1em;
                }

                .dioses__img{
                    margin: 1em 0;
                }
            }
        }
            

        @media screen and (min-width: 1024px){
            .dioses__h2{
                font-size: 2.3em;
            }

            .dioses__container{
                display: flex;
                width: 1100px;
                height: 800px;

                .dioses__item{
                    width: 0;
                    flex-grow: 1;
                    overflow: hidden;
                    opacity: 0.8;
                    align-items: center;
                    transition: .5s ease;

                    &:hover{
                        width: 400px;
                    }
    
                    .dioses__title{
                        font-size: 2.5em;
                        font-weight: bold;
                        
                    }
    
                    .dioses__text{
                        font-size: 1.1em;
                    }
    
                    .dioses__img{
                        height: 300px;
                        object-fit: cover;

                    }
                }
            }
        }
    }

    .historias-egipcia{
        color: white;
        
    }


}

@media screen and (min-width: 768px){

    .main-egipcia{
        .main-egipcia__def{
            padding: 30px;
            background-color: $color-azul;
            .main-egipcia__title{
                color: $color-dorado;
                font-size: 2.6em;
                font-weight: bold;
            }
    
            .main-egipcia__text{
                font-size: 1.2em;
                color: white;
            }
        
            .main-egipcia__img{
                margin-top: 50px;
            }
        }

        .dioses-egipcia{
            .dioses__h2{
                font-weight: bold;
                font-size: 2.6em;
            }

            .dioses__container{
                .dioses__item{
                    background: $color-azul;
                    .dioses__title{
                        color:  $color-dorado;
                        font-weight: bold;
                        font-size: 2.4em;
                    }
                    .dioses__text{
                        color: white;
                    }
                }
            }
        }

        .historias-egipcia{

            .historias__h2{
                font-size: 3.2em;
            }

            .historias__item{
                background-color: $color-azul;

                .historias__title{
                    color:  $color-dorado;
                }
            }
        }
    }
    

}

@media screen and (min-width: 1024px){
    .main-egipcia{

        .historias-egipcia{

            .historias__container{
                display: flex;
                flex-direction: column;
                .historias__item{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    padding: 30px;

                    .historias__title{
                        font-size: 2.8em;
                        line-height: 50px;
                    }

                    .historias__text{
                        display: flex;
                        flex-direction: row;
                    }

                    .historias__img{
                        width: 150px;
                    }
                }
            }
        }


    }
}
