.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: url(../../img/fondo-h1.jpg);
  color: $color-dorado;
  height: 50px;
  padding: 2em 1em;
  
  .link__h1{
    color: $color-dorado;

  }

  h1{
    font-weight: bold;
    font-size: 2.5em;
    &:hover{
      transform: scale(1.2) translateX(20px);
      transition: all 1s ease;
    }

  }

  li .nav__a:hover{
    color: $color-dorado;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;

  & li {
    margin: 20px 10px;
    overflow: hidden;
    font-size: 1em;
  }

}



  .menu-button-container {
    display: none;
    height: 130px;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu li .nav__a{
    color: white;
    text-transform: uppercase;
    
    .menu li .nav__a:hover{
      color: $color-dorado;
    }
  }

  .menu li .nav__a-select{
    color: $color-dorado;
  }

  

@media (max-width: 1024px) {
  .top-nav{
    background: url(../../img/fondo-h1-3.jpg);
  }

  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    background-color: #222;

  }

  .menu li .nav__a{
    color: white;
    text-transform: uppercase;
  }

  .menu li .nav__a-select{
    color: $color-dorado;
  }

  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}




